doctype html
html
  head
    meta(charset="utf-8")
    |   
    meta(http-equiv="X-UA-Compatible", content="width=device-width, initial-scale=1.0")
    
    title La última hora
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
    
    link(href=("Vendor/bootstrap/css/bootstrap.min.css"))
    link(type='text/css', rel='stylesheet', href='./css/main.css')
    block links
                                 
  body #[br]
    
        .container-fluid
            .row
                .principio.col-md-12
                    .logo.col-md-3
                        img.logo2(src="./fotos/logo.png")                  
                    .container.col-md-1.offset-md-1(style=("width: 30%;"))
                        form
                            .input-group
                            input(type=("text") class=("form-control") placeholder=("Search") name=("search"))
                    .input-group-btn.col-md-1(style=("width: 20%;")) 
                        button(class=("btn btn-default") type=("submit"))  
                            i.glyphicon.glyphicon-search
                    .cuenta.col-md-2(style=("width: 9%;")) 
                        
                        button.glyphicon.glyphicon-user.btn.btn-default(type='button', onclick=('login .pug')) #[br] Usuario 
                    .carrito.col-md-2(style=("width: 9%;")) 
                        button.glyphicon.glyphicon-shopping-cart.btn.btn-info.btn-lg #[br] Carrito 
                p        
                .menu.col-md-12
                    nav.navbar
                        ul.nav.navbar-nav
                            li.navbar-collapse
                                a.nav-link.navbar-text.navbar-toggle(href=("#")) Mochilas
                            li.navbar-collapse
                                a.nav-link.navbar-text.navbar-toggle(href=("#")) Cuadernos, libretas y blocks
                            li.navbar-collapse
                                a.nav-link.navbar-text.navbar-toggle(href=("#")) Escritura
                            li.navbar-collapse
                                a.nav-link.navbar-text.navbar-toggle(href=("#")) Arte y diseño

                block contenido 
